kyc-integrations/[QA] criminal-check & employment-check hook
{"flow":[{"id":35,"mapper":{},"module":"gateway:CustomMailHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"false"},"label":"criminal-check-email"}}},"designer":{"x":0,"y":150},"parameters":[{"name":"hook","type":"hook:gateway-mailhook","label":"Mailhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":314170,"maxResults":1}},{"id":29,"mapper":{"ca":"","qs":[],"url":"https://portal-qa.mac-non-prod.appmanteam.com/auth/realms/mac-application-admin/protocol/openid-connect/token","gzip":true,"method":"post","headers":[],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"x_www_form_urlencoded","formFields":[{"key":"client_id","value":"admin-cli"},{"key":"client_secret","value":"42c5fc68-8ad5-4391-b720-dc8f1831c8e5"},{"key":"grant_type","value":"client_credentials"}],"serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"formFields","spec":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Fields"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"POST"},"headers":{"mode":"chose"},"bodyType":{"label":"Application/x-www-form-urlencoded"},"formFields":{"mode":"chose","items":[null,null,null]}}},"designer":{"x":300,"y":150},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":28,"mapper":{"scope":"roundtrip","variables":[{"name":"base_path","value":"https://portal-qa.mac-non-prod.appmanteam.com/api/v1/kyc"}]},"module":"util:SetVariables","version":1,"metadata":{"expect":[{"name":"variables","spec":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"value","type":"any","label":"Variable value"}],"type":"array","label":"Variables"},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}}],"restore":{"expect":{"scope":{"label":"One cycle"},"variables":{"items":[null]}}},"designer":{"x":600,"y":150},"interface":[{"name":"base_path","type":"any","label":"base_path"}]},"parameters":{}},{"id":16,"mapper":{"array":"{{35.attachments}}"},"module":"builtin:BasicFeeder","version":1,"metadata":{"expect":[{"mode":"edit","name":"array","spec":[],"type":"array","label":"Array"}],"restore":{"expect":{"array":{"mode":"edit"}}},"designer":{"x":900,"y":150}},"parameters":{}},{"id":17,"mapper":{"data":"{{16.data}}"},"module":"archive:UnpackAction","version":1,"metadata":{"expect":[{"name":"data","type":"buffer","label":"Data","required":true}],"restore":{},"designer":{"x":1200,"y":150}},"parameters":{}},{"id":18,"filter":{"name":"","conditions":[[{"a":"{{17.path}}","b":"__MACOSX","o":"text:notcontain:ci"},{"a":"{{17.name}}","b":".DS_Store","o":"text:notcontain:ci"}]]},"mapper":{"async":15000,"split":{"pages":"2","splitType":"pageNumbers"},"export":{"exportType":"downloadFile"},"import":{"data":"{{17.data}}","name":"{{17.name}}","importType":"upload"},"expiration":"60"},"module":"pdf-co:postPdfSplit","version":1,"metadata":{"expect":[{"name":"import","spec":[{"name":"importType","type":"select","label":"Input File","required":true,"validate":{"enum":["upload","url"]}},{"name":"data","type":"buffer","label":"Data","required":true},{"name":"name","type":"text","label":"Output File Name"}],"type":"collection","label":"Import Options","required":true},{"name":"split","spec":[{"name":"splitType","type":"select","label":"Split by","required":true,"validate":{"enum":["pageNumbers","textFound"]}},{"name":"pages","type":"text","label":"Pages","required":true}],"type":"collection","label":"Split","required":true},{"name":"async","type":"select","label":"Async","validate":{"enum":[15000,false]}},{"name":"profiles","type":"text","label":"Profiles"},{"name":"expiration","type":"number","label":"Output Links Expiration"},{"name":"export","spec":[{"name":"exportType","type":"select","label":"Export Type","required":true,"validate":{"enum":["downloadFile","inline"]}}],"type":"collection","label":"Export options","required":true}],"restore":{"expect":{"async":{"mode":"chose","label":"15 sec"},"split":{"nested":{"splitType":{"label":"Page Numbers"}}},"export":{"nested":{"exportType":{"label":"Download a File"}}},"import":{"nested":{"importType":{"label":"Upload a File"}}}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"pdf-co"},"label":"My PDF.co connection"}}},"designer":{"x":1500,"y":150},"parameters":[{"name":"__IMTCONN__","type":"account:pdf-co","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":547057}},{"id":19,"mapper":{"async":15000,"export":{"exportType":"downloadFile"},"import":{"data":"{{18.data}}","name":"{{18.name}}","importType":"upload"},"inline":true,"convert":{"convertType":"toTextSimple"},"expiration":"60"},"module":"pdf-co:PDFToAnything","version":1,"metadata":{"expect":[{"name":"import","spec":[{"name":"importType","type":"select","label":"Input File","required":true,"validate":{"enum":["upload","url"]}},{"name":"data","type":"buffer","label":"Data","required":true},{"name":"name","type":"text","label":"Output File Name"}],"type":"collection","label":"Import Options","required":true},{"name":"convert","spec":[{"name":"convertType","type":"select","label":"Convert Type","required":true,"validate":{"enum":["toTextSimple","toText","toCsv","toJson2","toJson","toXml","toHtml","toJpg","toPng","toTiff"]}}],"type":"collection","label":"Convert Options","required":true},{"name":"pages","type":"text","label":"Pages"},{"name":"password","type":"text","label":"Password"},{"name":"inline","type":"boolean","label":"Inline"},{"name":"async","type":"select","label":"Async","validate":{"enum":[15000,false]}},{"name":"profiles","type":"text","label":"Profiles"},{"name":"expiration","type":"number","label":"Output Links Expiration"},{"name":"export","spec":[{"name":"exportType","type":"select","label":"Export Type","required":true,"validate":{"enum":["downloadFile","inline"]}}],"type":"collection","label":"Export options","required":true}],"restore":{"expect":{"async":{"mode":"chose","label":"15 sec"},"export":{"nested":{"exportType":{"label":"Download a File"}}},"import":{"nested":{"importType":{"label":"Upload a File"}}},"inline":{"mode":"chose"},"convert":{"nested":{"convertType":{"label":"PDF to Text (simple, no layout, fast)"}}}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"pdf-co"},"label":"My PDF.co connection"}}},"designer":{"x":1800,"y":150},"parameters":[{"name":"__IMTCONN__","type":"account:pdf-co","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":547057}},{"id":20,"mapper":{"csv":"{{19.data}}"},"module":"csv:ParseCSV","version":1,"metadata":{"expect":[{"name":"csv","type":"text","label":"CSV","required":true}],"restore":{"parameters":{"delimiterType":{"label":"Tab"}}},"designer":{"x":2100,"y":150},"interface":[{"name":"col1","type":"text","label":"Column 1"},{"name":"col2","type":"text","label":"Column 2"},{"name":"col3","type":"text","label":"Column 3"},{"name":"col4","type":"text","label":"Column 4"},{"name":"col5","type":"text","label":"Column 5"}],"parameters":[{"name":"colCount","type":"number","label":"Number of columns","required":true},{"name":"csvContainsHeaders","type":"boolean","label":"CSV contains headers","required":true},{"name":"delimiterType","type":"select","required":true,"validate":{"enum":[",","\t","other"]}},{"name":"relax","type":"boolean","label":"Preserve quotes inside unquoted field","required":true}]},"parameters":{"relax":false,"colCount":5,"delimiterType":"\t","csvContainsHeaders":true}},{"id":23,"mapper":{"col1":"{{20.col1}}"},"module":"builtin:BasicAggregator","version":1,"metadata":{"restore":{"extra":{"feeder":{"label":"CSV - Parse CSV [20]"},"target":{"label":"Custom"}}},"designer":{"x":2400,"y":150}},"parameters":{"feeder":20}},{"id":21,"mapper":{"policeRecord":{"warrantRecord":"{{join(slice(split(23.array[4].col1; space); 1); space)}}","employmentRecord":"{{join(slice(split(23.array[5].col1; space); 1); space)}}","criminalCaseRecord":"{{join(slice(split(23.array[3].col1; space); 1); space)}}"},"ministryOfJusticeRecord":{"warrantRecord":"{{join(slice(split(23.array[9].col1; space); 1); space)}}","employmentRecord":"{{join(slice(split(23.array[10].col1; space); 1); space)}}","criminalCaseRecord":"{{join(slice(split(23.array[8].col1; space); 1); space)}}"}},"module":"json:CreateJSON","version":1,"metadata":{"expect":[{"name":"policeRecord","spec":[{"name":"criminalCaseRecord","type":"text","label":null},{"name":"warrantRecord","type":"text","label":null},{"name":"employmentRecord","type":"text","label":null}],"type":"collection","label":null},{"name":"ministryOfJusticeRecord","spec":[{"name":"criminalCaseRecord","type":"text","label":null},{"name":"warrantRecord","type":"text","label":null},{"name":"employmentRecord","type":"text","label":null}],"type":"collection","label":null}],"restore":{"parameters":{"type":{"label":"cc-ev-response","nested":[{"name":"policeRecord","spec":[{"name":"criminalCaseRecord","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"warrantRecord","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"employmentRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null},{"name":"ministryOfJusticeRecord","spec":[{"name":"criminalCaseRecord","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"warrantRecord","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"employmentRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":null}]},"space":{"label":"Empty"}}},"designer":{"x":2700,"y":150},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":36043,"space":""}},{"id":25,"mapper":{"sort":[],"filter":[[{"a":"citizen_id","b":"{{replace(17.name; \".pdf\"; emptystring)}}","o":"text:equal"}]]},"module":"datastore:SearchRecord","version":1,"metadata":{"expect":[{"name":"filter","type":"filter","label":"Filter","options":"rpc://datastore/1.8.2/RpcGetUDTKeys","required":true},{"name":"sort","spec":[{"name":"key","type":"select","label":"Key","dynamic":true,"options":[],"required":true},{"name":"order","type":"select","label":"Order","options":[{"label":"Ascending","value":1},{"label":"Descending","value":-1}],"required":true}],"type":"array","label":"Sort"}],"restore":{"parameters":{"datastore":{"label":"verification"}}},"designer":{"x":3000,"y":150},"interface":[{"name":"key","type":"text","label":"Key"},{"name":"data","spec":[{"name":"application_id","type":"text","label":null,"default":null,"required":true,"multiline":false},{"name":"citizen_id","type":"text","label":null,"default":null,"required":true,"multiline":false},{"name":"verification_id","type":"text","label":null,"default":null,"required":true,"multiline":false}],"type":"collection","label":"Record"}],"parameters":[{"name":"datastore","type":"datastore","label":"Data store","required":true},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"continueWhenNoRes","type":"boolean","label":"Continue the execution of the route even if the module returns no results"}]},"parameters":{"limit":null,"datastore":12408}},{"id":30,"mapper":{"ca":"","qs":[],"url":"{{28.base_path}}/applications/{{25.data.application_id}}","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{29.data.access_token}}"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Empty"}}},"designer":{"x":3300,"y":150},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":27,"mapper":{"ca":"","qs":[],"url":"{{28.base_path}}/verifications/{{25.data.verification_id}}","gzip":true,"method":"get","headers":[{"name":"Authorization","value":"Bearer {{30.data.privateKey}}"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"","serializeUrl":false,"shareCookies":false,"parseResponse":true,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"GET"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Empty"}}},"designer":{"x":3600,"y":150},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":36,"mapper":null,"module":"builtin:BasicRouter","routes":[{"flow":[{"id":41,"filter":{"name":"employment check","conditions":[[{"a":"{{27.data.employmentVerificationConfig.required}}","b":"{{true}}","o":"text:equal"}]]},"mapper":{"ca":"","qs":[],"url":"{{28.base_path}}/verifications/{{25.data.verification_id}}/employmentVerifications","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{30.data.privateKey}}"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"multipart_form_data","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"formDataFields":[{"key":"file","data":"{{17.data}}","fileName":"{{17.name}}","fieldType":"file"}],"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"formDataFields","spec":[{"name":"fieldType","type":"select","label":"Field type","options":[{"label":"Text","value":"text","nested":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value"}]},{"label":"File","value":"file","nested":[{"name":"key","type":"text","label":"Key","required":true},{"name":"data","type":"buffer","label":"Data","semantic":"file:data"},{"help":"File name, including the suffix, e.g. invoice, xml","name":"fileName","type":"filename","label":"File name","semantic":"file:name"}]}],"required":true}],"type":"array","label":"Fields"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Multipart/form-data"},"formDataFields":{"mode":"chose","items":[{"fieldType":{"mode":"chose","label":"File"}}]}}},"designer":{"x":4200,"y":0},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":49,"mapper":{"json":"{{21.json}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"employment"}}},"designer":{"x":4500,"y":0},"interface":[{"name":"policeRecord","spec":[{"name":"employmentRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Police Record"},{"name":"ministryOfJusticeRecord","spec":[{"name":"employmentRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Ministry Of Justice Record"}],"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":36438}},{"id":51,"mapper":{"policeRecord":{"employmentRecord":"{{49.policeRecord.employmentRecord}}"},"ministryOfJusticeRecord":{"employmentRecord":"{{49.ministryOfJusticeRecord.employmentRecord}}"}},"module":"json:CreateJSON","version":1,"metadata":{"expect":[{"name":"policeRecord","spec":[{"name":"employmentRecord","type":"text","label":null}],"type":"collection","label":"Police Record"},{"name":"ministryOfJusticeRecord","spec":[{"name":"employmentRecord","type":"text","label":null}],"type":"collection","label":"Ministry Of Justice Record"}],"restore":{"parameters":{"type":{"label":"employment","nested":[{"name":"policeRecord","spec":[{"name":"employmentRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Police Record"},{"name":"ministryOfJusticeRecord","spec":[{"name":"employmentRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Ministry Of Justice Record"}]},"space":{"label":"Empty"}}},"designer":{"x":4800,"y":0},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":36438,"space":""}},{"id":43,"mapper":{"ca":"","qs":[],"url":"{{28.base_path}}/verifications/{{25.data.verification_id}}/employmentVerifications","data":"{ \"response\": {{51.json}} }","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{30.data.privateKey}}"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":5100,"y":0},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]},{"flow":[{"id":42,"filter":{"name":"criminal check","conditions":[[{"a":"{{27.data.criminalCheckConfig.required}}","b":"{{true}}","o":"text:equal"}]]},"mapper":{"ca":"","qs":[],"url":"{{28.base_path}}/verifications/{{25.data.verification_id}}/criminalChecks","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{30.data.privateKey}}"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"multipart_form_data","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"formDataFields":[{"key":"file","data":"{{17.data}}","fileName":"{{17.name}}","fieldType":"file"}],"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"formDataFields","spec":[{"name":"fieldType","type":"select","label":"Field type","options":[{"label":"Text","value":"text","nested":[{"name":"key","type":"text","label":"Key","required":true},{"name":"value","type":"text","label":"Value"}]},{"label":"File","value":"file","nested":[{"name":"key","type":"text","label":"Key","required":true},{"name":"data","type":"buffer","label":"Data","semantic":"file:data"},{"help":"File name, including the suffix, e.g. invoice, xml","name":"fileName","type":"filename","label":"File name","semantic":"file:name"}]}],"required":true}],"type":"array","label":"Fields"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Multipart/form-data"},"formDataFields":{"mode":"chose","items":[{"fieldType":{"mode":"chose","label":"File"}}]}}},"designer":{"x":4200,"y":300},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}},{"id":46,"mapper":{"json":"{{21.json}}"},"module":"json:ParseJSON","version":1,"metadata":{"expect":[{"name":"json","type":"text","label":"JSON string","required":true}],"restore":{"parameters":{"type":{"label":"criminal"}}},"designer":{"x":4500,"y":300},"interface":[{"name":"policeRecord","spec":[{"name":"warrantRecord","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"criminalCaseRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Police Record"},{"name":"ministryOfJusticeRecord","spec":[{"name":"warrantRecord","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"criminalCaseRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Ministry Of Justice Record"}],"parameters":[{"name":"type","type":"udt","label":"Data structure"}]},"parameters":{"type":36443}},{"id":52,"mapper":{"policeRecord":{"warrantRecord":"{{46.policeRecord.warrantRecord}}","criminalCaseRecord":"{{46.policeRecord.criminalCaseRecord}}"},"ministryOfJusticeRecord":{"warrantRecord":"{{46.ministryOfJusticeRecord.warrantRecord}}","criminalCaseRecord":"{{46.ministryOfJusticeRecord.criminalCaseRecord}}"}},"module":"json:CreateJSON","version":1,"metadata":{"expect":[{"name":"policeRecord","spec":[{"name":"warrantRecord","type":"text","label":null},{"name":"criminalCaseRecord","type":"text","label":null}],"type":"collection","label":"Police Record"},{"name":"ministryOfJusticeRecord","spec":[{"name":"warrantRecord","type":"text","label":null},{"name":"criminalCaseRecord","type":"text","label":null}],"type":"collection","label":"Ministry Of Justice Record"}],"restore":{"parameters":{"type":{"label":"criminal","nested":[{"name":"policeRecord","spec":[{"name":"warrantRecord","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"criminalCaseRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Police Record"},{"name":"ministryOfJusticeRecord","spec":[{"name":"warrantRecord","type":"text","label":null,"default":null,"required":false,"multiline":false},{"name":"criminalCaseRecord","type":"text","label":null,"default":null,"required":false,"multiline":false}],"type":"collection","label":"Ministry Of Justice Record"}]},"space":{"label":"Empty"}}},"designer":{"x":4800,"y":300},"parameters":[{"name":"type","type":"udt","label":"Data structure","required":true},{"name":"space","type":"select","label":"Indentation","validate":{"enum":["tab","2","4"]}}]},"parameters":{"type":36443,"space":""}},{"id":44,"mapper":{"ca":"","qs":[],"url":"{{28.base_path}}/verifications/{{25.data.verification_id}}/criminalChecks","data":"{ \"response\": {{52.json}} }","gzip":true,"method":"patch","headers":[{"name":"Authorization","value":"Bearer {{30.data.privateKey}}"}],"timeout":"","useMtls":false,"authPass":"","authUser":"","bodyType":"raw","contentType":"application/json","serializeUrl":false,"shareCookies":false,"parseResponse":false,"followRedirect":true,"useQuerystring":false,"followAllRedirects":false,"rejectUnauthorized":true},"module":"http:ActionSendData","version":3,"metadata":{"expect":[{"name":"url","type":"url","label":"URL","required":true},{"name":"serializeUrl","type":"boolean","label":"Serialize URL","required":true},{"name":"method","type":"select","label":"Method","required":true,"validate":{"enum":["get","head","post","put","patch","delete","options"]}},{"name":"headers","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Headers"},{"name":"qs","spec":[{"name":"name","type":"text","label":"Name","required":true},{"name":"value","type":"text","label":"Value"}],"type":"array","label":"Query String"},{"name":"bodyType","type":"select","label":"Body type","validate":{"enum":["raw","x_www_form_urlencoded","multipart_form_data"]}},{"name":"parseResponse","type":"boolean","label":"Parse response","required":true},{"name":"authUser","type":"text","label":"User name"},{"name":"authPass","type":"password","label":"Password"},{"name":"timeout","type":"uinteger","label":"Timeout","validate":{"max":300,"min":1}},{"name":"shareCookies","type":"boolean","label":"Share cookies with other HTTP modules","required":true},{"name":"ca","type":"cert","label":"Self-signed certificate"},{"name":"rejectUnauthorized","type":"boolean","label":"Reject connections that are using unverified (self-signed) certificates","required":true},{"name":"followRedirect","type":"boolean","label":"Follow redirect","required":true},{"name":"useQuerystring","type":"boolean","label":"Disable serialization of multiple same query string keys as arrays","required":true},{"name":"gzip","type":"boolean","label":"Request compressed content","required":true},{"name":"useMtls","type":"boolean","label":"Use Mutual TLS","required":true},{"name":"contentType","type":"select","label":"Content type","validate":{"enum":["text/plain","application/json","application/xml","text/xml","text/html","custom"]}},{"name":"data","type":"buffer","label":"Request content"},{"name":"followAllRedirects","type":"boolean","label":"Follow all redirect","required":true}],"restore":{"expect":{"qs":{"mode":"chose"},"method":{"mode":"chose","label":"PATCH"},"headers":{"mode":"chose","items":[null]},"bodyType":{"label":"Raw"},"contentType":{"label":"JSON (application/json)"}}},"designer":{"x":5100,"y":300},"parameters":[{"name":"handleErrors","type":"boolean","label":"Evaluate all states as errors (except for 2xx and 3xx )","required":true},{"name":"useNewZLibDeCompress","type":"hidden"}]},"parameters":{"handleErrors":false,"useNewZLibDeCompress":true}}]}],"version":1,"metadata":{"designer":{"x":3900,"y":150}}}],"name":"[QA] criminal-check & employment-check hook","metadata":{"instant":true,"version":1,"designer":{"notes":[{"id":5,"text":"","filter":true}],"orphans":[],"samples":{"16":{"data":"IMTBuffer(357392, binary, 47e704132ff68292afa670a396fa9e114ea626e0): 504b03041400000000003d6e2e55000...","fileName":"ผลการตรวจสอบ20220823_Criminal & Employee Check 2.zip...","fileSize":357392,"contentId":"f_l81nfgyf0...","contentType":"application/zip...","__IMTINDEX__":1,"__IMTLENGTH__":1},"17":{"data":"IMTBuffer(313, binary, e4359ceff1e03abe7d9e3c82cce4ff726bcedbe2): 00051607000200004d6163204f53205820...","name":"._α╕£α╕Ñα╕üα╕▓α╕úα╕òα╕úα╕ºα╕êα╕¬α╕¡α╕Ü20220823_Criminal & Employee Check...","path":"__MACOSX...","size":313,"modified":"2022-09-14T13:49:58.000Z"},"18":{"url":"https://pdf-temp-files.s3.us-west-2.amazonaws.com/I8WJ41P54P5NZ1DZZTSA0KDBCOEHPFBD/output_page2.pdf?...","data":"IMTBuffer(52270, binary, a96bc0de16daf6e87091e0c78edc244abd60b589): 255044462d312e350a25b73fad3f0a31...","name":"output_page2.pdf...","__IMTINDEX__":1,"__IMTLENGTH__":1},"19":{"url":"https://pdf-temp-files.s3.us-west-2.amazonaws.com/0DD88WP05YJCAQ8A773QUKRCFB8P3BMN/output.txt?X-Amz-...","data":"IMTBuffer(1567, binary, 5a36fb3c643235a947932999d9d05e7cadb08cc7): e0b899e0b8b2e0b8a220e0b88ae0b884e...","name":"output.txt...","jobId":"3XWADOL1RC85648KFRZKRUQCU2BA7PCG--93...","status":"success...","credits":2,"message":"Success...","duration":199,"pageCount":1,"jobDuration":135,"remainingCredits":21722},"20":{"col1":"ผลการตรวจสอบ ระบบสารสนเทศข้อมูลอาชญากรรมสำนักงานเทคโนโลยีสารสนเทศและการสื่อสาร สำนักงานตำรวจแห่งชาติ..."},"21":{"json":"{\"policeRecord\":{\"warrantRecord\":\"ไม่พบข้อมูลประวัติ\",\"employmentRecord\":\"เป็นผู้ประกันตน / แอซเซอร์..."},"23":{"array":[{"col1":"ข้อมูลประกันสังคม เป็นผู้ประกันตน  ..."}],"__IMTAGGLENGTH__":10},"27":{"data":{"errors":[{"msg":"Entity could not be found...."}]},"headers":[{"name":"x-xss-protection...","value":"1; mode=block..."}],"fileSize":49,"statusCode":404,"cookieHeaders":["connect.sid=s%3AboRDxdBo5PhYnIvBpgMPaTeXbU4WZsN3.u0vo1Zn6QMdMq%2FVfUgKk9nAlrmAnbRrW6ITRIHfyveo; Path..."]},"28":{"base_path":"https://portal-qa.mac-non-prod.appmanteam.com/api/v1/kyc..."},"29":{"data":{"scope":"profile email...","expires_in":3600,"token_type":"bearer...","access_token":"eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJLSC1mWWdQUTVOdUFLcVFNS1cxQWxfejlZcDdwY0NUZTU0Ulh6...","refresh_token":"eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJkODdlYmIwZC00MmRjLTQzMDktYmUyNy1mNDIxMzg1MjViN2Yi...","session_state":"73400e4d-b4e0-474c-bc07-692aa62d1e45...","not-before-policy":1653551137,"refresh_expires_in":86400},"headers":[{"name":"x-xss-protection...","value":"1; mode=block..."}],"fileSize":2335,"statusCode":200,"cookieHeaders":["KC_RESTART=; Version=1; Expires=Thu, 01-Jan-1970 00:00:10 GMT; Max-Age=0; Path=/auth/realms/mac-appl..."]},"30":{"data":{"errors":[{"msg":"Entity could not be found...."}]},"headers":[{"name":"x-xss-protection...","value":"1; mode=block..."}],"fileSize":49,"statusCode":404,"cookieHeaders":["connect.sid=s%3AyTMREqnTWylX4oaXq9xEE-vToH2N1d3S.w16W9V4ZjNaPdXl6oV3Ep62R0MJG01G7Co0bZ6ryLUs; Path=/..."]},"35":{"cc":[],"to":[{"name":"...","address":"f7hscqyho7hexbuk5aossr4wsrxx8uxm@hook.eu1.make.com..."}],"bcc":[],"date":"2022-09-14T14:35:14.918Z","from":{"name":"Kittipong Srikittichai...","address":"kittipong.s@appman.co.th..."},"html":"<div dir=\"ltr\"><br><br><div class=\"gmail_quote\"><div dir=\"ltr\" class=\"gmail_attr\">---------- Forward...","text":"---------- Forwarded message ---------\nFrom: Kittipong Srikittichai <kittipong.s@appman.co.th>\nDate:...","headers":{"to":"<f7hscqyho7hexbuk5aossr4wsrxx8uxm@hook.eu1.make.com>...","date":"Wed, 14 Sep 2022 14:34:36 GMT...","from":"<kittipong.s@appman.co.th>...","subject":"Fwd:...","received":"by mail-ej1-f51.google.com with SMTP id u9so35264480ejy.5 for <f7hscqyho7hexbuk5aossr4wsrxx8uxm@hook...","message-id":"<CACvEjTLaV7UQ2wP6zH9UwWJokMP7Pu7pQ33xJXO0YtADs4nFsA@mail.gmail.com>...","references":"<CACvEjTLv2NQ09Mzhr9Te0CB3muD7hyBp8uA_TkAqYrWx5hf9pA@mail.gmail.com> <CACvEjTLiHNk-COvUiO1a7=n1moywW...","x-received":"by 2002:a17:907:7f9e:b0:73c:6f39:7399 with SMTP id qk30-20020a1709077f9e00b0073c6f397399mr25963019ej...","in-reply-to":"<CACvEjTJVfjWu7K9WcER8WZBcZTV89Ab2d=V3KHt9zBAdzuAK7g@mail.gmail.com>...","content-type":"multipart/mixed; boundary=000000000000669c2405e8a409fb...","mime-version":"1.0...","dkim-signature":"v=1; a=rsa-sha256; c=relaxed/relaxed; d=appman-co-th.20210112.gappssmtp.com; s=20210112; h=to:subjec...","x-gm-message-state":"ACgBeo1ET3sKHbuTnmVAjqpGvYB+vPG+vk6DT5JtXhqrTHT81Mivdcq4 IBW1pwLGZWsmfHncIpbOJiDebAi1wTLj/yCl4KIZ7mm...","x-google-smtp-source":"AA6agR7w9Un3IVufnxhKWtW+xQIsP0U/voc8anRLE3483KG82nKJVfOWhDx6KZyAxKgqZMRN1r4AABI73rvLpWUP2Pg=...","x-google-dkim-signature":"v=1; a=rsa-sha256; c=relaxed/relaxed; d=1e100.net; s=20210112; h=to:subject:message-id:date:from:in-..."},"subject":"Fwd:...","attachments":[{"data":"IMTBuffer(357392, binary, 47e704132ff68292afa670a396fa9e114ea626e0): 504b03041400000000003d6e2e55000...","fileName":"ผลการตรวจสอบ20220823_Criminal & Employee Check 2.zip...","fileSize":357392,"contentId":"f_l81nfgyf0...","contentType":"application/zip..."}]},"41":{"data":"{\"id\":\"6e0a1767-0477-478e-a7c8-96c5d7779a38\",\"ref\":\"1c1372f9-5560-487e-9722-f73bbef33fdb\",\"status\":\"...","headers":[{"name":"x-xss-protection...","value":"1; mode=block..."}],"fileSize":13927,"statusCode":200,"cookieHeaders":["connect.sid=s%3AEtekBxcZ4jsMuZEnXHuSsy4zHhHGlXz6.198SfOSUw7Su4hwWLx7TkOGJ28a7pkLU2VG4PGpKes4; Path=/..."]},"42":{"data":"{\"id\":\"6e0a1767-0477-478e-a7c8-96c5d7779a38\",\"ref\":\"1c1372f9-5560-487e-9722-f73bbef33fdb\",\"status\":\"...","headers":[{"name":"x-xss-protection...","value":"1; mode=block..."}],"fileSize":14174,"statusCode":200,"cookieHeaders":["connect.sid=s%3AGI-xdo7kC3UV3jiTaCbG936zNb5fUHym.iBNMGXteJ1wOYj30HvtYvXmRD%2BnMUf8nxeAw%2BuOeAR4; Pa..."]},"43":{"data":"{\"id\":\"6e0a1767-0477-478e-a7c8-96c5d7779a38\",\"ref\":\"1c1372f9-5560-487e-9722-f73bbef33fdb\",\"status\":\"...","headers":[{"name":"x-xss-protection...","value":"1; mode=block..."}],"fileSize":14174,"statusCode":200,"cookieHeaders":["connect.sid=s%3AZl-YKLCesIvdW-kNa0vAQZH8R3s60qh_.2xTUTfWIaQQ%2Bytty4LZyheAhXUYv%2BkkWXOdXLzbucEE; Pa..."]},"44":{"data":"{\"id\":\"6e0a1767-0477-478e-a7c8-96c5d7779a38\",\"ref\":\"1c1372f9-5560-487e-9722-f73bbef33fdb\",\"status\":\"...","headers":[{"name":"x-xss-protection...","value":"1; mode=block..."}],"fileSize":14538,"statusCode":200,"cookieHeaders":["connect.sid=s%3ArSy6blmriZudh2GY6L4yeXuzQq2chtMp.SSp2kG59sdqrvRyFwL2UqvyihH2aV8a5Ux2kgMqczlk; Path=/..."]},"46":{"policeRecord":{"warrantRecord":"ไม่พบข้อมูลประวัติ...","employmentRecord":"เป็นผู้ประกันตน / แอพแมน / วันเข้าทำงาน 08/03/2564...","criminalCaseRecord":"ไม่พบข้อมูลประวัติ..."},"ministryOfJusticeRecord":{"warrantRecord":"ไม่พบข้อมูลประวัติ...","employmentRecord":"เป็นผู้ประกันตน...","criminalCaseRecord":"ไม่พบข้อมูลประวัติ..."}},"49":{"policeRecord":{"warrantRecord":"ไม่พบข้อมูลประวัติ...","employmentRecord":"เป็นผู้ประกันตน / แอพแมน / วันเข้าทำงาน 08/03/2564...","criminalCaseRecord":"ไม่พบข้อมูลประวัติ..."},"ministryOfJusticeRecord":{"warrantRecord":"ไม่พบข้อมูลประวัติ...","employmentRecord":"เป็นผู้ประกันตน...","criminalCaseRecord":"ไม่พบข้อมูลประวัติ..."}},"51":{"json":"{\"policeRecord\":{\"employmentRecord\":\"เป็นผู้ประกันตน / แอพแมน / วันเข้าทำงาน 08/03/2564\"},\"ministryO..."},"52":{"json":"{\"policeRecord\":{\"warrantRecord\":\"ไม่พบข้อมูลประวัติ\",\"criminalCaseRecord\":\"ไม่พบข้อมูลประวัติ\"},\"mi..."}}},"scenario":{"dlq":false,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"autoCommitTriggerLast":true}}}