system/[SLACK] commit command.json
{"flow":[{"id":14,"mapper":{},"module":"gateway:CustomWebHook","version":1,"metadata":{"restore":{"parameters":{"hook":{"data":{"editable":"true"},"label":"commit slack app webhook"}}},"designer":{"x":0,"y":150},"interface":[{"name":"token","type":"text"},{"name":"team_id","type":"text"},{"name":"team_domain","type":"text"},{"name":"channel_id","type":"text"},{"name":"channel_name","type":"text"},{"name":"user_id","type":"text"},{"name":"user_name","type":"text"},{"name":"command","type":"text"},{"name":"text","type":"text"},{"name":"api_app_id","type":"text"},{"name":"is_enterprise_install","type":"text"},{"name":"response_url","type":"text"},{"name":"trigger_id","type":"text"}],"parameters":[{"name":"hook","type":"hook:gateway-webhook","label":"Webhook","required":true},{"name":"maxResults","type":"number","label":"Maximum number of results"}]},"parameters":{"hook":325031,"maxResults":1}},{"id":6,"mapper":{"name":"scenario name","scope":"roundtrip","value":"{{14.text}}"},"module":"util:SetVariable2","version":1,"metadata":{"expect":[{"name":"name","type":"text","label":"Variable name","required":true},{"name":"scope","type":"select","label":"Variable lifetime","required":true,"validate":{"enum":["roundtrip","execution"]}},{"name":"value","type":"any","label":"Variable value"}],"restore":{"expect":{"scope":{"label":"One cycle"}}},"designer":{"x":300,"y":150},"interface":[{"name":"scenario name","type":"any","label":"scenario name"}]},"parameters":{}},{"id":3,"mapper":{"team":117466,"limit":"10","islinked":true,"organization":190160},"module":"make:listScenarios","version":1,"metadata":{"expect":[{"name":"organization","type":"select","label":"Organization ID"},{"name":"islinked","type":"boolean","label":"Only Active Scenarios"},{"name":"cols","type":"select","label":"Fields","multiple":true,"validate":{"enum":["id","name","teamId","hookId","deviceId","deviceScope","description","folderId","isinvalid","islinked","islocked","isPaused","usedPackages","lastEdit","scheduling","iswaiting","dlqCount"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"team","type":"select","label":"Team ID"},{"name":"folder","type":"select","label":"Folder ID"},{"name":"organization","type":"select","label":"Organization ID"},{"name":"islinked","type":"boolean","label":"Only Active Scenarios"},{"name":"cols","type":"select","label":"Fields","multiple":true,"validate":{"enum":["id","name","teamId","hookId","deviceId","deviceScope","description","folderId","isinvalid","islinked","islocked","isPaused","usedPackages","lastEdit","scheduling","iswaiting","dlqCount"]}},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"team","type":"select","label":"Team ID"},{"name":"folder","type":"select","label":"Folder ID"}],"restore":{"expect":{"cols":{"mode":"chose"},"team":{"mode":"chose","label":"My Team"},"folder":{"mode":"chose","label":"Empty"},"islinked":{"mode":"chose"},"organization":{"mode":"chose","label":"Appman (Trial)"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"make connection (kittipong.s@appman.co.th)"}}},"designer":{"x":600,"y":150},"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":645804}},{"id":10,"filter":{"name":"","conditions":[[{"a":"{{3.name}}","b":"{{6.`scenario name`}}","o":"text:equal"}]]},"mapper":{"team":"{{3.teamId}}","limit":"10"},"module":"make:listScenarioFolders","version":1,"metadata":{"expect":[{"name":"team","type":"text","label":"Team ID","required":true},{"name":"limit","type":"uinteger","label":"Limit"},{"name":"team","type":"text","label":"Team ID","required":true},{"name":"limit","type":"uinteger","label":"Limit"}],"restore":{"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"make connection (kittipong.s@appman.co.th)"}}},"designer":{"x":900,"y":150},"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":645804}},{"id":7,"filter":{"name":"","conditions":[[{"a":"{{10.id}}","b":"{{3.folderId}}","o":"text:equal"}]]},"mapper":{"draft":false,"select":"file","scenario":"{{3.id}}"},"module":"make:getAScenarioBlueprint","version":1,"metadata":{"expect":[{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"draft","type":"boolean","label":"Draft"},{"name":"select","type":"select","label":"Return a Blueprint","required":true,"validate":{"enum":["json","string","file"]}},{"name":"scenario","type":"text","label":"Scenario ID","required":true},{"name":"draft","type":"boolean","label":"Draft"},{"name":"select","type":"select","label":"Return a Blueprint","required":true,"validate":{"enum":["json","string","file"]}}],"restore":{"expect":{"draft":{"mode":"chose"},"select":{"mode":"chose","label":"In a JSON File"}},"parameters":{"__IMTCONN__":{"data":{"scoped":"true","connection":"make"},"label":"make connection (kittipong.s@appman.co.th)"}}},"advanced":true,"designer":{"x":1200,"y":150},"interface":[{"name":"blueprint","type":"buffer","label":"Blueprint Data","semantic":"file:data"},{"name":"filename","type":"filename","label":"File Name","semantic":"file:name"},{"name":"scheduling","spec":[{"name":"type","type":"text","label":"Type"},{"name":"between","spec":{"type":"date"},"type":"array","label":"Between"},{"name":"interval","type":"number","label":"Interval"},{"name":"restrict","spec":{"spec":[{"name":"days","spec":{"type":"number"},"type":"array","label":"Days"},{"name":"time","spec":{"type":"text"},"type":"array","label":"Time"},{"name":"months","spec":{"type":"number"},"type":"array","label":"Months"}],"type":"collection"},"type":"array","label":"Restrict"},{"name":"date","time":true,"type":"date","label":"Date"},{"name":"time","type":"text","label":"Time"},{"name":"days","type":"array","label":"Days"},{"name":"months","type":"array","label":"Months"}],"type":"collection","label":"Scheduling"},{"name":"concept","type":"boolean","label":"Concept"},{"name":"idSequence","type":"uinteger","label":"ID Sequence"},{"name":"created","time":true,"type":"date","label":"Created"},{"name":"last_edit","time":true,"type":"date","label":"Last Edit"}],"parameters":[{"name":"__IMTCONN__","type":"account:make","label":"Connection","required":true}]},"parameters":{"__IMTCONN__":645804}},{"id":11,"mapper":{"ref":"","filePath":"{{10.name}}/{{3.name}}.json","repository":"DeathSy/mac-team-make"},"module":"github:ActionGetFile","onerror":[{"id":21,"mapper":{"sha":"","data":"{{7.blueprint}}","fileName":"{{7.filename}}","filePath":"","fileSize":""},"module":"builtin:Resume","version":1,"metadata":{"expect":[{"name":"fileName","type":"filename","label":"Name"},{"name":"data","type":"buffer","label":"Data"},{"name":"filePath","type":"text","label":"File path"},{"name":"fileSize","type":"number","label":"File size"},{"name":"sha","type":"text","label":"SHA"}],"restore":{},"designer":{"x":1800,"y":300}},"parameters":{}}],"version":3,"metadata":{"expect":[{"name":"repository","type":"select","label":"Repository","required":true},{"name":"filePath","type":"text","label":"File path","required":true},{"name":"ref","type":"text","label":"Commit, branch or tag"}],"restore":{"expect":{"repository":{"mode":"chose","label":"DeathSy/mac-team-make"}},"parameters":{"account":{"data":{"scoped":"true","connection":"github"},"label":"mac team make scenario (DeathSy)"}}},"designer":{"x":1500,"y":150},"parameters":[{"name":"account","type":"account:github","label":"Connection","required":true}]},"parameters":{"account":645737}},{"id":9,"mapper":{"sha":"{{11.sha}}","data":"{{7.blueprint}}","branch":"develop","message":"update {{6.`scenario name`}} version to {{7.last_edit}}","filePath":"{{10.name}}/{{3.name}}.json","repository":"DeathSy/mac-team-make"},"module":"github:ActionCreateFile","version":3,"metadata":{"expect":[{"name":"repository","type":"select","label":"Repository","required":true},{"name":"filePath","type":"text","label":"File path","required":true},{"name":"message","type":"text","label":"Message","required":true},{"name":"data","type":"buffer","label":"Data","required":true},{"name":"sha","type":"text","label":"SHA"},{"name":"branch","type":"text","label":"Branch"}],"restore":{"expect":{"repository":{"mode":"chose","label":"DeathSy/mac-team-make"}},"parameters":{"account":{"data":{"scoped":"true","connection":"github"},"label":"mac team make scenario (DeathSy)"}}},"advanced":true,"designer":{"x":1800,"y":0},"parameters":[{"name":"account","type":"account:github","label":"Connection","required":true}]},"parameters":{"account":645737}},{"id":22,"mapper":{"body":"successfully commited {{10.name}}/{{3.name}}.json - \"update {{6.`scenario name`}} version to {{7.last_edit}}\"","status":"200","headers":[]},"module":"gateway:WebhookRespond","version":1,"metadata":{"expect":[{"name":"status","type":"uinteger","label":"Status","required":true,"validate":{"min":100}},{"name":"body","type":"any","label":"Body"},{"name":"headers","spec":[{"name":"key","type":"text","label":"Key","required":true,"validate":{"max":256}},{"name":"value","type":"text","label":"Value","required":true,"validate":{"max":4096}}],"type":"array","label":"Custom headers","validate":{"maxItems":16}}],"restore":{"expect":{"headers":{"mode":"chose"}}},"designer":{"x":2100,"y":0}},"parameters":{}}],"name":"[SLACK] commit command","metadata":{"instant":true,"version":1,"designer":{"orphans":[],"samples":{"3":{"id":520777,"name":"core sms service...","hookId":283513,"teamId":117466,"concept":false,"deviceId":null,"dlqCount":0,"folderId":null,"isPaused":false,"islinked":true,"islocked":false,"lastEdit":"2022-08-31T10:09:43.510Z","nextExec":null,"isinvalid":false,"iswaiting":false,"scheduling":{"type":"immediately..."},"description":"...","deviceScope":null,"__IMTINDEX__":1,"usedPackages":["gateway..."],"__IMTLENGTH__":10,"createdByUser":{"id":249000,"name":"kittipong...","email":"kittipong.s@appman.co.th..."},"updatedByUser":{"id":249000,"name":"kittipong...","email":"kittipong.s@appman.co.th..."}},"6":{"scenario name":"[QA] criminal check job integration..."},"7":{"concept":false,"created":"2022-09-19T03:12:06.509Z","filename":"blueprint.json...","blueprint":"IMTBuffer(392329, binary, feb6080d1c38e6f7122dbdddfb3a4b21bc063dc1): 7b22666c6f77223a5b7b226964223a3...","last_edit":"2022-09-20T10:57:52.236Z","idSequence":149,"scheduling":{"time":"16:00...","type":"daily..."}},"9":{"sha":"d64d0b72a2637cffcef9bac72ebc76d97310d5c4...","commit":"5a8f3e29dc00964854a8fcea3c1412e1d9f9db52..."},"10":{"id":46312,"name":"kyc-integrations...","__IMTINDEX__":1,"__IMTLENGTH__":3,"scenariosTotal":2},"11":{"sha":null,"data":"IMTBuffer(392329, binary, feb6080d1c38e6f7122dbdddfb3a4b21bc063dc1): 7b22666c6f77223a5b7b226964223a3...","fileName":"blueprint.json...","filePath":null,"fileSize":null},"14":{"text":"[QA] criminal check job integration...","token":"h5vSi5nfh5QaDb2K9PROCFl6...","command":"/make-commit...","team_id":"T7R7K0UJZ...","user_id":"ULM5ZGWNN...","user_name":"kittipong.s...","api_app_id":"A043R90DRNZ...","channel_id":"DLYHWJR8Q...","trigger_id":"4115743767415.263257028645.c62bcd50898e1bb1dc22d8e98c0dabbd...","team_domain":"appman...","channel_name":"directmessage...","response_url":"https://hooks.slack.com/commands/T7R7K0UJZ/4123692494918/BPL0b45j9qbUloMazfkYyBGo...","is_enterprise_install":"false..."}}},"scenario":{"dlq":false,"dataloss":false,"maxErrors":3,"autoCommit":true,"roundtrips":1,"sequential":false,"confidential":false,"autoCommitTriggerLast":true}}}